.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding-top: 130px;
}

.main_header {
  max-width: inherit;
  width: inherit;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  position: fixed;
  height: 130px;
  padding: 46px 320px 45px 320px;
  gap: 706px;
  background: #262626;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.main_nav {
  width: 474px;
}
.header_ul {
  display: flex;
  justify-content: space-between;
}

.nav_li {
  color: #fff;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}
.active {
  color: #dcb47a;
}
.fa-solid {
  line-height: 36px;
  color: #ffffff;
  font-size: 37px;
}

/* section start */
.section1 {
  position: relative;
}
.main_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 33%;
  transform: translate(-50%);
  display: flex;
  width: 1368px;
  height: 273px;
  padding: 56px 120px 55px 120px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 4px 0px rgba(0, 0, 0, 0.54);
  backdrop-filter: blur(10px);
  text-align: center;
  font-family: Work Sans;
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
}

/* section 2 start */

.section2 {
  max-width: 1280px;
  height: 530px;
  width: 100%;
  display: flex;
  margin: 120px auto;
}
.sec2_title {
    color: #e08c11;
    font-family: Work Sans;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: start;
    width: 734px;
    height: 88px;
  }

.cards {
  height: 395px;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 390px;
  height: 361px;
  border-radius: 40px;
  border: 3px solid #dcb47a;
  padding-top: 30px;
  padding-inline: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.card_t1 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.8px;
}
.price_part {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card_t2 {
  color: #e08c11;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.8px;
  margin-right: 229px;
}

.fa-cart-shopping {
  border-radius: 4px;
  background: #dcb47a;
  padding: 4px;
}

/* footer start */

.main_footer {
  display: flex;
  max-width: 1920px;
  width: 100%;
  padding: 60px 629px 60px 630px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 49px;
  background: #262626;
}
.footer_h1 {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 116.667% */
}
.footer_span {
  color: #dcb47a;
}

.footer_p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.footer_button {
  border-radius: 60px;
  background: #dcb47a;
  width: 200px;
  height: 64px;
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  text-transform: capitalize;
}
.footer_button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #dcb47a, 
  0 0 20px #dcb47a, 
  0 0 60px #dcb47a,
    0 0 1505px #dcb47a;
}
